body {
  font-family: Open Sans;
  margin: 0; }

p {
  cursor: pointer; }

header {
  color: black;
  position: relative;
  width: 100%;
  background-color: transparent; }
  header .navbar {
    min-width: 58px;
    margin-bottom: 0; }
  header .navbar-default {
    border-radius: 0px;
    border: none; }
    header .navbar-default .container-fluid .navbar-header {
      height: 58px; }
      header .navbar-default .container-fluid .navbar-header button {
        color: black; }
        header .navbar-default .container-fluid .navbar-header button span {
          color: black; }
      header .navbar-default .container-fluid .navbar-header a {
        padding: 6px 0; }
        header .navbar-default .container-fluid .navbar-header a img {
          height: 46px; }
    header .navbar-default .container-fluid .navbar-collapse ul li a {
      color: black;
      padding: 19px 15px; }
      header .navbar-default .container-fluid .navbar-collapse ul li a:hover {
        background-color: #c7c7c7; }
      header .navbar-default .container-fluid .navbar-collapse ul li a:focus {
        background-color: #c7c7c7; }
      header .navbar-default .container-fluid .navbar-collapse ul li a span {
        margin: 0 2px; }
    header .navbar-default .container-fluid .navbar-collapse ul li ul li a {
      padding: 10px 10px; }
  header .photo {
    z-index: 1;
    position: relative;
    height: auto;
    width: 100%; }
    header .photo img {
      width: 100%; }

/*	.container
 * width: 100%
 * padding: 0
 * margin: 0
 * .hat
 * 	height: auto
 * 	box-shadow: 0 0 20px black
 * 	position: fixed
 * 	z-index: 100
 * 	background-color: rgba(255,255,255,0.7)
 * 	.logo
 * 		img
 * 			height: 38px
 * 			margin: 10px 0
 * 	.menu
 * 		ul
 * 			margin: 0
 * 			padding: 0
 * 			text-align: right
 * 			li
 * 				margin: 5px 5px
 * 				display: inline-block
 * 				&:hover
 * 					border-radius: 6%
 * 					border: 1px solid white
 * 					background: -moz-linear-gradient(top, #2a2a2a, #c0bbbb)
 * 					background: -webkit-linear-gradient(top, #2a2a2a, #c0bbbb)
 * 					background: -o-linear-gradient(top, #2a2a2a, #c0bbbb)
 * 					background: -ms-linear-gradient(top, #2a2a2a, #c0bbbb)
 * 					background: linear-gradient(top, #2a2a2a, #c0bbbb)
 * 					cursor: pointer
 * 					a
 * 						color: white
 * 						text-shadow: 0 4px 15px white
 * 				a
 * 					padding: 14px 20px
 * 					text-shadow: 0 4px 15px black
 * 					font-weight: bold
 * 					color: black
 * 					text-decoration: none
 * 	.langs
 * 		position: relative
 * 		.dropdown
 * 			position: relative
 * 			button
 * 				padding: 6px 6px
 * 				margin: 12px 0 0 0
 * 				outline: none
 * 				span
 * 					margin: 0 3px */
.about {
  margin-top: -58px;
  position: relative;
  /*hr
   * margin-top: 5px
   * width: 80%
   * height: 1px
   * background: rgba(100,100,100,0.4) */ }
  .about .container {
    width: 100%;
    padding: 0;
    margin: 0; }
    .about .container .h {
      text-align: center;
      margin: 68px 0 10px 0; }
    .about .container .members .general {
      margin: 5px 0 25px 0; }
      .about .container .members .general .vitalii:hover {
        box-shadow: 0 0 15px black; }
      .about .container .members .general .vlad:hover {
        box-shadow: 0 0 15px black; }
      .about .container .members .general .vitalii, .about .container .members .general .vlad {
        background-color: transparent;
        text-align: center;
        padding: 25px 0; }
        .about .container .members .general .vitalii h3, .about .container .members .general .vlad h3 {
          margin: 0; }
        .about .container .members .general .vitalii .align, .about .container .members .general .vlad .align {
          margin: 0;
          text-align: center; }
          .about .container .members .general .vitalii .align img, .about .container .members .general .vlad .align img {
            width: 75%; }
        .about .container .members .general .vitalii .icons, .about .container .members .general .vlad .icons {
          margin: 10px 0 6px 0; }
          .about .container .members .general .vitalii .icons a, .about .container .members .general .vlad .icons a {
            border-radius: 100%;
            opacity: 0.9; }
            .about .container .members .general .vitalii .icons a:hover, .about .container .members .general .vlad .icons a:hover {
              opacity: 1; }
          .about .container .members .general .vitalii .icons img, .about .container .members .general .vlad .icons img {
            border-radius: 50%;
            width: 8%;
            margin: 0 1%; }

.contact {
  position: relative;
  width: 100%;
  background-image: url("../img/office.jpg"); }
  .contact .container-fluid .oci {
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center;
    margin: 20px 0; }
    .contact .container-fluid .oci div {
      margin: 57.5px 0; }
      .contact .container-fluid .oci div h4 {
        margin: 0; }
  .contact .container-fluid .oform {
    margin-bottom: 15px; }
    .contact .container-fluid .oform .text h4 {
      color: black;
      text-align: center;
      margin: 20px 0 15px 0; }
    .contact .container-fluid .oform .form {
      font-size: 14px; }
      .contact .container-fluid .oform .form form input {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        line-height: 36px;
        padding: 0 15px;
        margin: 5px;
        box-shadow: 0 0 15px white;
        outline: none;
        border: 1px solid black; }
        .contact .container-fluid .oform .form form input:focus {
          background-color: rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px white; }
      .contact .container-fluid .oform .form form textarea {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 11px 15px;
        margin: 5px;
        box-shadow: 0 0 15px white;
        resize: none;
        outline: none;
        border: 1px solid black; }
        .contact .container-fluid .oform .form form textarea:focus {
          background-color: rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px white; }
      .contact .container-fluid .oform .form form .email {
        width: 100%; }
      .contact .container-fluid .oform .form form .subject {
        width: 100%; }
      .contact .container-fluid .oform .form form .message {
        width: 100%; }
      .contact .container-fluid .oform .form form .sub {
        width: 33%;
        box-shadow: 0 0 15px white; }
        .contact .container-fluid .oform .form form .sub:active {
          box-shadow: 0 0 5px white; }
        .contact .container-fluid .oform .form form .sub:hover {
          background-color: orange;
          color: white; }

footer {
  position: relative;
  width: 100%; }
  footer .container {
    width: 100%;
    padding: 0;
    margin: 0; }
    footer .container .consist {
      box-shadow: 0 0 20px white;
      position: relative;
      background-color: rgba(0, 0, 0, 0.5);
      line-height: 38px; }
      footer .container .consist .years p {
        font-weight: bold;
        margin: 10px 0;
        color: white; }
      footer .container .consist .designers {
        text-align: right; }
        footer .container .consist .designers p {
          font-weight: bold;
          margin: 10px 0;
          color: white; }
          footer .container .consist .designers p a {
            padding: 5px 3px;
            text-decoration: none;
            color: #f0ab17; }
            footer .container .consist .designers p a:hover {
              text-shadow: 0 0 5px black; }

.scrollup button {
  display: none;
  outline: none;
  color: white;
  position: fixed;
  bottom: 29px;
  right: 50px;
  padding: 15px 18px;
  z-index: 100;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 10px black;
  background: rgba(0, 0, 0, 0.5); }
  .scrollup button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border: 2px solid black;
    box-shadow: 0 0 10px white; }

/*# sourceMappingURL=main.css.map */
